In [568]:
import pandas as pd
from sklearn.model_selection import train_test_split 
import datetime as dt
import numpy as np
from sklearn.metrics import accuracy_score

In [569]:
dataset = pd.read_csv('datasets/NAS.csv', index_col='Date', parse_dates=True)
dataset.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2003-12-18  19.482599  19.596901  19.025499  19.139799  19.139799  4978496.0
2003-12-19  19.368299  19.425501  18.282801  18.454201  18.454201  1410901.0
2003-12-22  18.739901  18.739901  17.997101  18.054300  18.054300   137047.0
2003-12-23  17.997101  17.997101  17.368700  17.425800  17.425800   229418.0
2003-12-24        NaN        NaN        NaN        NaN        NaN        NaN

In [579]:
##Dropping all NaN rows 
dataset = dataset.dropna(how='any')
dataset['Change'] = (dataset['Open']-dataset['Close']).apply(lambda x: 1 if x>0 else 0)
dataset.drop(['Adj Close', 'Volume'],axis='columns',inplace=True)
dataset.head()

                 Open       High        Low      Close  Change
Date
2003-12-18  19.482599  19.596901  19.025499  19.139799       1
2003-12-19  19.368299  19.425501  18.282801  18.454201       1
2003-12-22  18.739901  18.739901  17.997101  18.054300       1
2003-12-23  17.997101  17.997101  17.368700  17.425800       1
2003-12-29  17.425800  17.425800  16.854500  17.254400       1

In [580]:
input = dataset.drop(['Change'], axis=1)
target = dataset['Change']
input

                 Open       High        Low      Close
Date
2003-12-18  19.482599  19.596901  19.025499  19.139799
2003-12-19  19.368299  19.425501  18.282801  18.454201
2003-12-22  18.739901  18.739901  17.997101  18.054300
2003-12-23  17.997101  17.997101  17.368700  17.425800
2003-12-29  17.425800  17.425800  16.854500  17.254400
...               ...        ...        ...        ...
2020-10-12   0.709000   0.710000   0.650000   0.676800
2020-10-13   0.676800   0.676800   0.600000   0.600600
2020-10-14   0.601000   0.640000   0.596200   0.626000
2020-10-15   0.626000   0.626000   0.585000   0.605000
2020-10-16   0.605000   0.620000   0.601000   0.610600

[4218 rows x 4 columns]

In [581]:
X_train, X_test, Y_train, Y_test = train_test_split(input,target, test_size=0.20)

In [582]:
len(X_train)

3374

In [583]:
len(X_test)

844

In [584]:
from sklearn.naive_bayes import MultinomialNB  # Imported the Naive Bayes Algorithm from the sklearn library
model = MultinomialNB().fit(X_train, Y_train)
Y_pred = model.predict(X_test)

In [585]:
print(Y_pred)

[1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 0 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1
 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1
 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1]

In [586]:
print(accuracy_score(Y_pred,Y_test))

0.5793838862559242

In [587]:
Y_test[:10]

Date
2008-07-08    1
2013-06-21    0
2017-03-31    1
2010-02-16    0
2007-04-19    0
2008-10-10    1
2006-06-30    1
2015-05-21    1
2006-01-11    1
2008-11-25    1
Name: Change, dtype: int64

In [588]:
model.predict(X_test[:10])

array([1, 0, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

### The accuracy is about 58%